<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset = "utf-8">
  <meta name = "viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
  <link rel="stylesheet" href="{% static '/bots/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static '/bots/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static '/bots/css/main.css' %}">

</head>
<form action="{% url 'mebels' %}" method="get" enctype="multipart/form-data">  
<body>
  <header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">

          
          

        <a class="navbar-brand" href="">At Home <br><b>Premium quality</b></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-center">
        <li ><a class="block_link roronoa" href="" >Мебель</a></li>
        <li ><a class="block_link" href="#" >Новинки</a></li>
        <li ><a class="block_link" href="#" >О нас</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a class="num" href="tel:+79165966606" style="text-decoration:none; color:#aaa;">+7-916-596-66-06</a></li>
          
          <li> 
          <button type="submit"><a><i  class="fa fa-search" aria-hidden="true"></i></a></button>
          </li>
          <li><a href="#" class="fa fa-heart"></a></li>
          <li><a href="#" ><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
        </ul>
        
      </div>
    </div>
    <input name="poisk" class="text_input" type="text">
  </header>
  

</form>

<div class="hidden_block" id="1121" >
    <ul class="nav navbar-nav navbar-center">
    <li><a class="hidden_link1" href="#">Мягкая мебель</a></li>
    <li><a class="hidden_link2" href="#">Обеденная зона</a></li>

    <li><a class="hidden_link3" href="{% url 'blog:cresla' %}">Кресла</a></li>
    <li><a class="hidden_link3" href="{% url 'blog:crovati' %}">Кровати</a></li>
    <li><a class="hidden_link3" href="{% url 'blog:divani' %}">Диваны</a></li>
    <li><a class="hidden_link4" href="{% url 'blog:stoli' %}">Столы</a></li>
    <li><a class="hidden_link4" href="{% url 'blog:stulia' %}">Стулья</a></li>
    <li><a class="hidden_link4" href="{% url 'blog:barnie_stulya' %}">Барные стулья</a></li>

  </ul>
</div>

  <br><br>

<div class="slider">
      <div class="slides">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">


        <div class="slide first">
            <img src="{% static 'bots/img/1.jpg' %}" alt="">
        </div>
        <div class="slide">
          <img src="{% static 'bots/img/2.jpg' %}" alt="">
        </div>
        <div class="slide">
          <img src="{% static 'bots/img/3.jpg' %}" alt="">
        </div>
        <div class="slide">
         <img src="{% static 'bots/img/4.jpg' %}" alt="">
        </div>
        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
          <div class="auto-btn4"></div>

        </div>
        <div class="navigation-manual">
          <label for="radio1" class="manual-btn"></label>
          <label for="radio2" class="manual-btn"></label>
          <label for="radio3" class="manual-btn"></label>
          <label for="radio4" class="manual-btn"></label>

        </div>
      </div>
      


    </div>
    <br><br>
<div class="recomendation">
  <ul>
   <li class="odin_block"> <img class="odin_block_img" src="{% static 'bots/img/da/stul.jpg' %}" ><a href="" class="d-name">Стулья</a></li>

   <li class="odin_block"> <img class="odin_block_img" src="{% static 'bots/img/da/bar_stul.jpg' %}"><a href="" class="dd-name">Барные стулья</a></li>

   <li class="odin_block"> <img class="odin_block_img" src="{% static 'bots/img/da/stol.jpg' %}"><a href="" class="d-name">Столы</a></li>
<br>
    <li class="odin_block"> <img class="odin_block_img" src="{% static 'bots/img/da/crovat.jpg' %}" ><a href="" class="d-name">Кровати</a></li>
 
    <li class="odin_block"> <img class="odin_block_img" src="{% static 'bots/img/da/divani.jpg' %}"><a href="" class="d-name">Диваны</a></li>
 
    <li class="odin_block"> <img class="odin_block_img" src="{% static 'bots/img/da/creslo.jpg' %}"><a href="" class="d-name">Кресла</a></li>
  </ul>
</div>
   <div> <a href="tel:+79165966606" ><i class="fa fa-phone" aria-hidden="true" ></i></a></div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer class="foot-black"> 
      <div >
       


      </div>
      
    </footer>
    <script type="text/javascript">
      let logos = document.querySelector('.hidden_block');
      var counter = 1;
      var a=0;
      document.querySelector('.fa-search').onmouseenter=()=>{
       
        setInterval(function(){
          if (a<150){
          document.querySelector('.text_input').style="display:flex;width:" +a+"px;";
          a+=0.5;
        }
        
        },1)
        a=0;
        }
        
    
      logos.style='visibility:hidden'
      document.querySelectorAll('.hidden_link3')[0].style='display:none';
      document.querySelectorAll('.hidden_link4')[0].style='display:none';
      document.querySelectorAll('.hidden_link3')[1].style='display:none';
      document.querySelectorAll('.hidden_link4')[1].style='display:none';
      document.querySelectorAll('.hidden_link3')[2].style='display:none';
      document.querySelectorAll('.hidden_link4')[2].style='display:none';

      document.querySelector('.hidden_link1').onmouseenter=()=>{
        document.querySelectorAll('.hidden_link4')[0].style='display:none';
        document.querySelectorAll('.hidden_link4')[1].style='display:none';
        document.querySelectorAll('.hidden_link4')[2].style='display:none';
        document.querySelectorAll('.hidden_link3')[0].style='display:flex';
        document.querySelectorAll('.hidden_link3')[1].style='display:flex';
        document.querySelectorAll('.hidden_link3')[2].style='display:flex';
        document.querySelector('.text_input').style="display:none"
      }
      document.querySelector('.hidden_link2').onmouseenter=()=>{
        document.querySelectorAll('.hidden_link3')[0].style='display:none';
        document.querySelectorAll('.hidden_link3')[1].style='display:none';
        document.querySelectorAll('.hidden_link3')[2].style='display:none';

        document.querySelectorAll('.hidden_link4')[0].style='display:flex';
        document.querySelectorAll('.hidden_link4')[1].style='display:flex';
        document.querySelectorAll('.hidden_link4')[2].style='display:flex';
        document.querySelector('.text_input').style="display:none"
      }
        document.querySelector('.roronoa').onmouseenter=()=>{
          setTimeout(function(){logos.style='visibility:visible';},500)
        
      }
      document.querySelector('.slider').onmouseenter=()=>{
        logos.style='visibility:hidden';
      document.querySelectorAll('.hidden_link3')[0].style='display:none';
      document.querySelectorAll('.hidden_link4')[0].style='display:none';
      document.querySelectorAll('.hidden_link3')[1].style='display:none';
      document.querySelectorAll('.hidden_link4')[1].style='display:none';
      document.querySelectorAll('.hidden_link3')[2].style='display:none';
      document.querySelectorAll('.hidden_link4')[2].style='display:none';
      document.querySelector('.text_input').style="display:none";
      }
      document.querySelector('.navbar-brand').onmouseenter=()=>{
        logos.style='visibility:hidden';
      document.querySelectorAll('.hidden_link3')[0].style='display:none';
      document.querySelectorAll('.hidden_link4')[0].style='display:none';
      document.querySelectorAll('.hidden_link3')[1].style='display:none';
      document.querySelectorAll('.hidden_link4')[1].style='display:none';
      document.querySelectorAll('.hidden_link3')[2].style='display:none';
      document.querySelectorAll('.hidden_link4')[2].style='display:none';
      document.querySelector('.text_input').style="display:none";
      }
      
      
      setInterval(function(){
      document.getElementById('radio'+counter).checked = true;
      counter++;
      
      if(counter>4){
        counter=1;
        
      }
    },8000);
      
    </script>

<script type="text/javaascript" src="{% static 'bots/js/script.js' %}"></script>
</body>

</html>
